@font-face {
  font-family: "Voga";
  src: url("/fonts/Vollkorn.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Voga", serif !important;
}

.normal-header {
  background: linear-gradient(to bottom, #00000099, #78986610);
  z-index: 1;
}


.dark-header {
  background: linear-gradient(to right, #050505, #d7dde8b6, #050505);
  z-index: 1;
}

.text-gradient {
  background-image: linear-gradient(to top, #757f9a, #d7dde8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}